<div class="container mt-sm">
  <h2 class="title-lg">
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <%= tag.div class: class_names("mt-sm", "container", { hidden: question.hidden? }) do %>
    <%= render question %>
  <% end %>
<% end %>