<div class="container">
  <h2 class="title-lg mb-sm">Новый вопрос</h2>
  <p class="mb">для <%= link_to display_nickname(@user), user_path(@user) %></p>

  <%= render 'form', question: @question %>
</div>