body {
    color: #03071e;
    font-family: 'Trebuchet MS', sans-serif;
}

a, button {
    color: #dc2f02;
}

.title-lg {
    font-size: 175%;
}

.title-md, .title {
    font-size: 150%;
}

.title-sm {
    font-size: 125%;
}

.text-sm {
    font-size: 80%;
}

.hidden {
    opacity: 50%;
}

.text-gray {
  color: #a0a0a0;
}

.text-red {
    color: #d00000;
  }

.text-bold {
  font-weight: bold;
}

.text-ws {
  white-space: pre-line;
}